<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/banner.ejs') %>
    <div class="div-info">
      <div class="container-1">
        <% if (aAccount.length > 0) var account = aAccount[0];{ %>

        <h2><%= account.username %> Account Info</h2>
        <p>
          <b> user id: <%= account._id %> </b> <br />
          <b> username: <%= account.username %> </b> <br />
          <b> Email: <%= account.email %> </b> <br />
          <b> bcrypted password: <%= account.password %> </b> <br />
        </p>
        <a
          class="edit"
          href="/account/<%=account._id%>/edit?username=<%=account.username%>"
          >Change username</a
        >
        <br />
        <% } %>
      </div>
    </div>
    <%- include('./partials/logout.ejs') %>
  </body>
</html>
