<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/banner.ejs') %>
        <div class="content">
            <h1>index.ejs</h1>
            <h3>Hello <%= name %> --- <%= email %> --- <%= id %> </h3>
        </div>
        </br>
        <%- include('./partials/logout.ejs') %>
    </body>
</html>