<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/banner.ejs') %>
        <%- include('./partials/logout.ejs') %>
        <div class="content">
            <h3>Hello <%= name %> | Acount Info --- <%= email %> --- user login id:  <%= id %> </h3>
            <hr>
        </div>
        <form action="/userHistory" method="POST">
            <b>Total Logs: [<%= theLogs.length %>] -  by: "<%= name %>" </b></br> <br> <br> <br>
            
            <% if (theLogs.length > 0) { %>
                <% theLogs.forEach(log => { %>
                    <b> - <%= log.username %> searched: <%= log.item_searched %> with <%= log.search_results %> result(s) from data base [<%= log.db_used %>], on <%= log.date %>  </b> <br>
                    <% }) %>
            <% } %>
        </br>
    </body>
</html>